<!--Navbar-->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand " style="font-size: 2rem; margin-left: 5%; color: green;" href="/">Hot News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav " style="margin-left: 60%;">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="https://nation.africa/">Nation Africa</a>
            <a class="nav-link" href="https://abcnews.go.com/">ABC News</a>
            <a class="nav-link" href="https://www.bbc.com/news">BBC News</a>      
          </div>
        </div>
    </div>
</nav>